.layout {
  --gutter: 1.5rem;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);

  @media (min-width: 992px) {
    --gutter: 3rem;
  }
}

.container {
  width: 100%;
  padding-right: var(--gutter-x);
  padding-left: var(--gutter-x);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
    max-width: 1280px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter-x);
}

.dflex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.logo {
  height: calc(var(--gutter) * 2);
  padding: calc(var(--gutter) * 0.25);
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: var(--gutter);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
