.btnGroup {
  display: flex;
}

.btn {
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: button;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--btn-font-size);
  font-family: var(--font-family);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: var(--border-width) solid var(--border-color);
  background-color: #fff;
  box-shadow: unset;
  transition: all .2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1 1 auto;
  border-radius: 0;

  &:hover {
    border-color: var(--border-color-hover);
  }

  &Active {
    background-color: var(--border-color-hover);
    border-color: var(--border-color-hover);
    color: #fff;
  }

  + .btn {
    margin-left: -1px;
  }

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
  &:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}