.sidebar {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.25rem;
  color: var(--body-color);
  background-color: #fff;
  border-radius: var(--card-border-radius);
  box-shadow: 0 .275rem .75rem -0.0625rem rgba(11,15,25,.06),0 .125rem .4rem -0.0625rem rgba(11,15,25,.03);
  padding: 1rem;
  position: sticky;
  top: 1.25rem;
}

.title {
  font-weight: 500;
  color: #33354d;
  margin-bottom: .625rem;
}