.ticket {
  display: flex;
  gap: 1.25rem;
  background-color: #fff;
  border-radius: var(--card-border-radius);
  box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);
  padding: 1.25rem;
  flex-direction: column-reverse;

  @media (min-width: 992px) {
    flex-direction: row;
  }

  z-index: 49;
  opacity: 0;
  position: relative;
  transform: translateY(50px);
  animation: .4s intro-y-animation ease-in-out .33333s;
  animation-fill-mode: forwards;

  &:nth-child(1) {
    animation-delay: 0s;
    transform: translateY(10px);
  }

  &:nth-child(2) {
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    animation-delay: 0.3s;
  }

  &:nth-child(5) {
    animation-delay: 0.4s;
  }

  &:nth-child(6) {
    animation-delay: 0.5s;
  }

  &:nth-child(7) {
    animation-delay: 0.6s;
  }

  &:nth-child(8) {
    animation-delay: 0.7s;
  }

  &:nth-child(9) {
    animation-delay: 0.8s;
  }

  &:nth-child(10) {
    animation-delay: 0.9s;
  }
}

@keyframes intro-y-animation {
  to {
    opacity: 1;
    transform: translateY(0)
  }
}


.divider {
  display: none;

  @media (min-width: 992px) {
    display: block;
    border-right: 1px dashed var(--border-color);
    margin-top: -14px;
    margin-bottom: -14px;
  }
}

.action {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 576px) {
    justify-content: space-between;
  }

  @media (min-width: 992px) {
    width: 160px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.body {
  flex: 1 1 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.company {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  line-height: 1.2;

  .companyFit {

    @media (min-width: 992px) {
      flex: 0 0 0;
    }
  }

  span {
    display: inline-block;
    text-align: center;
  }
}

.logo {
  width: 1.25rem;

  @media (min-width: 992px) {
    width: 1.75rem;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  gap: 3px;
  background-color: #ef4444;
  border: 1px solid #ef4444;
  border-radius: var(--card-border-radius);
  line-height: 1.6;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;

  @media (min-width: 576px) {
    width: 50%;
  }

  @media (min-width: 992px) {
    width: 100%;
    flex-wrap: wrap;
  }

  &:hover, &:active {
    border-color: #ec2121;
    background-color: #ec2121;
  }
}

.name {
  font-weight: 600;
  font-size: 1.125rem;
}

.time {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.date {
  color: var(--gray-600);
}

.departure {
  order: 1;
  flex-basis: calc(50% - 0.5rem);
  @media (min-width: 768px) {
    flex: 0 0 180px;
  }
}

.arrival {
  order: 2;
  flex-basis: calc(50% - 0.5rem);
  text-align: right;

  @media (min-width: 768px) {
    flex: 0 0 180px;
    order: 4;
  }
}

.stops {
  order: 3;
  flex: 1 0 0;
  color: var(--gray-600);
  text-align: center;

  @media (max-width: 767px) {
    border: 1px dashed var(--border-color);
    border-radius: 0.5rem;
    padding: 5px 10px;
  }
}

.plane {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planeTime {
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px dashed var(--border-color);

  @media (min-width: 992px) {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.skeleton {
  height: 1.2em;
  margin-bottom: 0.325rem;
  background-color: rgba(147, 151, 173, 0.20);
  background-image: linear-gradient(
          90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, 0.2) 20%,
          rgba(#fff, 0.5) 60%,
          rgba(#fff, 0)
  );
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite alternate;

  &:last-child {
    margin-bottom: 0;
  }

  &.company {
    height: 38px;
    width: 100%;
    margin-bottom: 0;
  }

  &Btn {
    height: 56px;
    width: 100%;
  }

  &Loading {
    color: #fff;
    width: 100px;
    margin-bottom: 0;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}